:root {
  font-size: 62.5%; /* Alterando font-size para a ultilização da medida rem de forma prática e eficiente */

  --primary-color: hsl(271, 75%, 51%);
  --secondary-color: hsl(271, 84%, 32%);
  --terceary-color: hsl(62, 75%, 51%);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans', 'Arial';
}

/* CABEÇALHO */

.menu {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 1.5rem 0;
  box-shadow: 0 0rem 0.5rem hsla(0, 0%, 0%, 0.4);
}

.menu img {
  width: 15rem;
  height: 2.8rem;
  color: white;
  cursor: pointer;
  margin-left: 3rem;
}

nav {
  margin-right: 3rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  display: none;
}

nav ul li a {
  padding-right: 2rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.5s;
}
nav ul li a:hover {
  color: var(--secondary-color);
}

nav .activate {
  top: 6rem;
  left: 0;
  position: absolute;
  background-color: hsla(271, 84%, 32%, 0.8);
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.burguer {
  width: 2rem;
  height: 1.5rem;
  position: relative;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

.burguer span {
  display: block;
  position: absolute;
  height: 0.3rem;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burguer span:nth-child(1) {
  top: 0rem;
}

.burguer span:nth-child(2),
.burguer span:nth-child(3) {
  top: 0.75rem;
}

.burguer span:nth-child(4) {
  top: 1.45rem;
}

.burguer.open span:nth-child(1) {
  top: 3rem;
  width: 0%;
  left: 50%;
}

.burguer.open span:nth-child(2) {
  transform: rotate(45deg);
}

.burguer.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.burguer.open span:nth-child(4) {
  top: 1.8rem;
  width: 0%;
  left: 50%;
}

/* BANNER */

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/banner1.jpg'), no-repeat, center;
  background-size: cover;
  background-attachment: fixed;
  padding: 4rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  margin-bottom: 0;
}

.banner p {
  text-align: center;
  font-size: 1.6rem;
  color: white;
  font-family: 'Roboto Slab';
  padding: 0 3rem;
}

.btn {
  text-decoration: none;
  color: #fff;
  margin: auto;
  padding: 1rem 3rem;
  border: 0.2rem solid #FFF;
  border-radius: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all ease 0.5s;
  cursor: pointer;
  background-color: transparent;
}

.btn:hover {
  background-color: #fff;
  color: var(--primary-color);
  transform: scale(1.05);
}

/* SERVIÇOS */

section {
  padding-top: 5rem !important;
}

#service {
  background: linear-gradient(110deg, var(--primary-color), var(--secondary-color));
}

#service h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-top: 0;
  color: var(--terceary-color);
}

#service h2 {
  text-align: center;
  font-family: 'Roboto Slab';
  color: var(--secondary-color);
}

#service aside div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#service svg {
  max-width: 15rem;
  margin: auto;
}

#service svg:first-child {
  margin-top: 3rem;
}

#service h3 {
  text-align: center;
  color: var(--terceary-color);
  font-size: 1.6rem;
  font-weight: 600;
}

#service p {
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  font-family: 'Roboto Slab';
  padding: 0 2rem;
  font-weight: 300;
}

#service aside:last-child {
  padding-bottom: 3rem;
}

/* PROJETOS */

#projects {
  background: linear-gradient(110deg, var(--terceary-color), hsl(59, 88%, 37%));
  padding-top: 1rem;
  text-align: center;
}

#projects h1 {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-top: 0;
}

/* SOBRE */

#about {
  background: linear-gradient(110deg, var(--primary-color), var(--secondary-color));
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

#about h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--terceary-color);
  margin-top: 0;
}

#about h2 {
  text-align: center;
  font-size: 1.8rem;
  color: var(--secondary-color);
}

#about div:last-child {
  text-align: justify;
  font-size: 1.6rem;
  font-family: 'Roboto Slab';
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 2rem 0;
}